a{
    margin-left: 40px;
    margin-right: 40px;
}


.mb-0:hover{
cursor: pointer;
}

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: green;
    text-align: center;
    
}